## Homework
## PFound
Исходные данные - Yandex Cup 2022 Analytics
- Ссылка - https://yandex.ru/cup/analytics/analysis/ , пример A. Рассчитать pFound
- Данные - https://yadi.sk/d/guqki4UI4hFlXQ
- Формула
$$pFound@K = \sum_{i=1}^{k} pLook[i]\ pRel[i]$$

$$pLook[1] = 1$$

$$pLook[i] = pLook[i-1]\ (1 - pRel[i-1])\ (1 - pBreak)$$

$$pBreak = 0.15$$

**Задача** - написать функцию, которая принимает на вход dataframe (после join), а на выходе дает средний pFound по всем query.
- Запрещается использовать циклы for для расчет метрики (как полностью, так и ее частей).

In [1]:
!wget -O yandex.zip 'https://getfile.dokpub.com/yandex/get/https://yadi.sk/d/guqki4UI4hFlXQ'

--2022-11-24 20:27:12--  https://getfile.dokpub.com/yandex/get/https://yadi.sk/d/guqki4UI4hFlXQ
Resolving getfile.dokpub.com (getfile.dokpub.com)... 142.132.255.217
Connecting to getfile.dokpub.com (getfile.dokpub.com)|142.132.255.217|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://downloader.disk.yandex.ru/disk/a6948e08ee40db6443e433f3cef34db3818947bb371ccdccfbcb5d86aac558ff/63800be1/BaOcgBJYwIzg6Pz-7e1ofdyK_uYONPWbQT9-z6oLtSwltEvXgy43DlfMU7yEVKnvtaL8KRTXRD86Bmt6HmA89w%3D%3D?uid=0&filename=yandex_cup_analytics_A.zip&disposition=attachment&hash=r1pg8imUhL3NYuWf3rq5KaD0gfvSHsK5As/ezZIlBlkNpNLJ8xzFforjLrE57Sprq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1168973541&fsize=75391&hid=b7d5cb22d0694a3ed087f532f9612929&media_type=compressed&tknv=v2 [following]
--2022-11-24 20:27:14--  https://downloader.disk.yandex.ru/disk/a6948e08ee40db6443e433f3cef34db3818947bb371ccdccfbcb5d86aac558ff/63800be1/BaOcgBJYwIzg6Pz-7e1ofdyK_uYONPWbQT9-z6oLtSwltEvXgy43DlfMU7yEVKnvtaL8KRTXRD86Bmt6HmA89w%3D%3D?uid=0&filename=yandex_cup_analytics_A.zip&disposition=attachment&hash=r1pg8imUhL3NYuWf3rq5KaD0gfvSHsK5As/ezZIlBlkNpNLJ8xzFforjLrE57Sprq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1168973541&fsize=75391&hid=b7d5cb22d0694a3ed087f532f9612929&media_type=compressed&tknv=v2
Resolving downloader.disk.yandex.ru (downloader.disk.yandex.ru)... 77.88.21.127, 2a02:6b8::2:127
Connecting to downloader.disk.yandex.ru (downloader.disk.yandex.ru)|77.88.21.127|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://s362vla.storage.yandex.net/rdisk/a6948e08ee40db6443e433f3cef34db3818947bb371ccdccfbcb5d86aac558ff/63800be1/BaOcgBJYwIzg6Pz-7e1ofdyK_uYONPWbQT9-z6oLtSwltEvXgy43DlfMU7yEVKnvtaL8KRTXRD86Bmt6HmA89w==?uid=0&filename=yandex_cup_analytics_A.zip&disposition=attachment&hash=r1pg8imUhL3NYuWf3rq5KaD0gfvSHsK5As/ezZIlBlkNpNLJ8xzFforjLrE57Sprq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1168973541&fsize=75391&hid=b7d5cb22d0694a3ed087f532f9612929&media_type=compressed&tknv=v2&rtoken=MjWw3cSYfdfV&force_default=no&ycrid=na-05311f1853658ded47c0a43f6f57f809-downloader8h&ts=5ee409541fa40&s=efb0d4e003d197ea9dce218a5a26ce6b19e4a2141d95958641a8d68ead4d3f7c&pb=U2FsdGVkX1_GRLstlwLdmBbJWiKJ4VXNQtQ80uImkJtoFSCHwrKD9hygXChSHpXs8oSUPTcvuHKHInE2Sa5w0CeKYSa6jRqBhFHGqZWnHdg [following]
--2022-11-24 20:27:15--  https://s362vla.storage.yandex.net/rdisk/a6948e08ee40db6443e433f3cef34db3818947bb371ccdccfbcb5d86aac558ff/63800be1/BaOcgBJYwIzg6Pz-7e1ofdyK_uYONPWbQT9-z6oLtSwltEvXgy43DlfMU7yEVKnvtaL8KRTXRD86Bmt6HmA89w==?uid=0&filename=yandex_cup_analytics_A.zip&disposition=attachment&hash=r1pg8imUhL3NYuWf3rq5KaD0gfvSHsK5As/ezZIlBlkNpNLJ8xzFforjLrE57Sprq/J6bpmRyOJonT3VoXnDag%3D%3D%3A&limit=0&content_type=application%2Fzip&owner_uid=1168973541&fsize=75391&hid=b7d5cb22d0694a3ed087f532f9612929&media_type=compressed&tknv=v2&rtoken=MjWw3cSYfdfV&force_default=no&ycrid=na-05311f1853658ded47c0a43f6f57f809-downloader8h&ts=5ee409541fa40&s=efb0d4e003d197ea9dce218a5a26ce6b19e4a2141d95958641a8d68ead4d3f7c&pb=U2FsdGVkX1_GRLstlwLdmBbJWiKJ4VXNQtQ80uImkJtoFSCHwrKD9hygXChSHpXs8oSUPTcvuHKHInE2Sa5w0CeKYSa6jRqBhFHGqZWnHdg
Resolving s362vla.storage.yandex.net (s362vla.storage.yandex.net)... 141.8.128.86, 2a02:6b8:c0e:acd:0:41af:c3e3:2068
Connecting to s362vla.storage.yandex.net (s362vla.storage.yandex.net)|141.8.128.86|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 75391 (74K) [application/zip]
Saving to: ‘yandex.zip’

yandex.zip          100%[===================>]  73.62K   208KB/s    in 0.4s

2022-11-24 20:27:16 (208 KB/s) - ‘yandex.zip’ saved [75391/75391]

In [2]:
!unzip yandex.zip

Archive:  yandex.zip
  inflating: hidden_task.zip
  inflating: open_task.zip

In [3]:
!unzip open_task.zip

Archive:  open_task.zip
   creating: open_task/
  inflating: open_task/qid_query.tsv
  inflating: open_task/hostid_url.tsv
  inflating: open_task/qid_url_rating.tsv

In [4]:
import pandas as pd

#YANDEX solution

In [5]:
# считываем данные
qid_query = pd.read_csv("open_task/qid_query.tsv", sep="\t", names=["qid", "query"])
qid_url_rating = pd.read_csv("open_task/qid_url_rating.tsv", sep="\t", names=["qid", "url", "rating"])
hostid_url = pd.read_csv("open_task/hostid_url.tsv", sep="\t", names=["hostid", "url"])

In [6]:
# делаем join двух таблиц, чтобы было просто брать url с максимальным рейтингом
qid_url_rating_hostid = pd.merge(qid_url_rating, hostid_url, on="url")


def plook(ind, rels):
    if ind == 0:
        return 1
    return plook(ind-1, rels)*(1-rels[ind-1])*(1-0.15)


def pfound(group):
    max_by_host = group.groupby("hostid")["rating"].max() # максимальный рейтинг хоста
    top10 = max_by_host.sort_values(ascending=False)[:10] # берем топ10 урлов с наивысшим рейтингом
    pfound = 0
    for ind, val in enumerate(top10):
        pfound += val*plook(ind, top10.values)
    return pfound


qid_pfound = qid_url_rating_hostid.groupby('qid').apply(pfound) # группируем по qid и вычисляем pfound
qid_max = qid_pfound.idxmax() # берем qid с максимальным pfound

qid_query[qid_query["qid"] == qid_max]

       qid            query
12  295761  гугл переводчик

In [7]:
qid_url_rating_hostid.head()

     qid                                                url  rating  hostid
0  10387                       http://batman-arkhamcity.ru/    0.00      64
1  10387  http://bigtorrents.org/publ/batman_arkham_city...    0.14      71
2  10387  http://consolelife.ru/xbox-360/6577-o-rossiysk...    0.14     101
3  10387  http://dic.academic.ru/book.nsf/3662736/Batman...    0.00     115
4  10387      http://forum.csmania.ru/viewtopic.php?t=25986    0.14     155

In [8]:
qid_url_rating_hostid.nunique()

qid        20
url       854
rating      5
hostid    643
dtype: int64

In [9]:
qid_url_rating_hostid[qid_url_rating_hostid.qid == 10387]

      qid                                                url  rating  hostid
0   10387                       http://batman-arkhamcity.ru/    0.00      64
1   10387  http://bigtorrents.org/publ/batman_arkham_city...    0.14      71
2   10387  http://consolelife.ru/xbox-360/6577-o-rossiysk...    0.14     101
3   10387  http://dic.academic.ru/book.nsf/3662736/Batman...    0.00     115
4   10387      http://forum.csmania.ru/viewtopic.php?t=25986    0.14     155
5   10387  http://forum.igromania.ru/printthread.php?s=f3...    0.07     156
6   10387  http://forum.sharereactor.ru/showthread.php?t=...    0.00     161
7   10387  http://forums.4gamers.ru/threads/batman-arkham...    0.07     166
8   10387  http://forums.playground.ru/batman_arkham_city...    0.00     169
9   10387  http://forums.playground.ru/batman_arkham_city...    0.07     169
10  10387  http://gamersblog.ru/news/batman-arkham-city-i...    0.14     177
11  10387           http://gamestation.ru/product/15068.html    0.14     178
12  10387                    http://kanobu.ru/blog/id281160/    0.00     254
13  10387  http://kanobu.ru/blog/v-ozhidanii-cheloveka-le...    0.07     254
14  10387                          http://kanobu.ru/off.html    0.00     254
15  10387              http://mgnews.ru/media/getimage/23281    0.14     335
16  10387              http://mgnews.ru/media/getimage/23283    0.14     335
17  10387              http://mgnews.ru/media/getimage/23284    0.07     335
18  10387              http://mgnews.ru/media/getimage/23286    0.00     335
19  10387  http://mgnews.ru/read-news/pro-izdanija-batman...    0.14     335
20  10387  http://mirslovarei.com/content_gerchin/batman-...    0.00     341
21  10387   http://ru.wikipedia.org/wiki/Batman:_Arkham_City    0.00     472
22  10387  http://stopgame.ru/preview/batman_arkham_asylu...    0.07     529
23  10387            http://store.steampowered.com/sub/16547    0.00     531
24  10387  http://supercomics.ru/load/dc/batman_arkham_ci...    0.00     542
25  10387  http://vrgames.by/news/catwoman-polnotsennyj-p...    0.00     628
26  10387                         http://www.arkham-city.ru/    0.00     679
27  10387  http://www.batmanforever.ru/batman-news/703-pe...    0.14     696
28  10387  http://www.batmanforever.ru/batman-news/709-ru...    0.14     696
29  10387        http://www.comicsdb.ru/publishers/10/40090/    0.14     740
30  10387  http://www.comicsdb.ru/publishers/10/40090/com...    0.00     740
31  10387  http://www.comicsdb.ru/publishers/10/40090/com...    0.00     740
32  10387  http://www.gamer.ru/batman-arkham-city/batman-...    0.00     812
33  10387  http://www.gamer.ru/batman-arkham-city/batman-...    0.00     812
34  10387  http://www.gamer.ru/batman-arkham-city/v-batma...    0.00     812
35  10387  http://www.games-tv.ru/treilers/batman_arkham_...    0.00     814
36  10387  http://www.games-tv.ru/treilers/batman_arkham_...    0.00     814
37  10387  http://www.games-tv.ru/treilers/batman_arkham_...    0.07     814
38  10387         http://www.igromania.ru/videomania/148196/    0.00     846
39  10387         http://www.igromania.ru/videomania/159847/    0.14     846
40  10387  http://www.jurnalu.ru/online-reading/comicsonl...    0.14     871
41  10387  http://www.microsofttranslator.com/bv.aspx?ref...    0.00     922
42  10387  http://www.playground.ru/blogs/batman_arkham_c...    0.07     995
43  10387  http://www.playground.ru/blogs/batman_arkham_c...    0.14     995
44  10387  http://www.playground.ru/blogs/batman_arkham_c...    0.07     995
45  10387  http://www.playground.ru/blogs/batman_arkham_c...    0.00     995
46  10387  http://www.rutor.org/torrent/155539/batman-ark...    0.00    1042
47  10387  http://www.rutor.org/torrent/196061/batman-ark...    0.00    1042
48  10387         http://www.youtube.com/watch?v=lV5sQO_eHGU    0.00    1155
49  10387         http://www.youtube.com/watch?v=vWfwkfVw6vg    0.00    1155
50  10387         http://www.youtube.com/watch?v=vauGLEJv6IA    0.00    1155
51  10387  http://x-torrents.org/forum/showthread.php?tid...    0.14    1169

Нужно вывести текст запроса с максимальным значением метрики , посчитанной по топ-10 документов.
Если для запроса есть несколько документов с одним и тем же id хоста — оставить только максимально релевантный документ (а если несколько документов максимально релевантны, выбрать любой).
Документы по запросу сортируются по убыванию релевантности после выбора одного документа для хоста. Если у нескольких документов с разных хостов релевантность одинакова, их порядок может быть произвольным.

In [10]:
# Если для запроса есть несколько документов с одним и тем же id хоста — оставить только максимально релевантный документ 
# (а если несколько документов максимально релевантны, выбрать любой)
max_rel_rating = qid_url_rating_hostid.groupby(['qid', 'hostid'])['rating'].max()
max_rel_rating = max_rel_rating.reset_index()
max_rel_rating

        qid  hostid  rating
0     10387      64    0.00
1     10387      71    0.14
2     10387     101    0.14
3     10387     115    0.00
4     10387     155    0.14
..      ...     ...     ...
674  380923    1063    0.00
675  380923    1065    0.00
676  380923    1105    0.00
677  380923    1168    0.00
678  380923    1172    0.07

[679 rows x 3 columns]

In [11]:
# подсчет топ K для каждого запроса по убыванию релевантности после выбора одного документа для хоста
K = 10
top_K = max_rel_rating.sort_values(['qid', 'rating'], ascending=False).groupby(['qid']).head(K)
top_K

        qid  hostid  rating
647  380923       6    0.14
654  380923     179    0.14
662  380923     386    0.14
666  380923     484    0.14
665  380923     462    0.07
..      ...     ...     ...
12    10387     335    0.14
20    10387     696    0.14
21    10387     740    0.14
24    10387     846    0.14
25    10387     871    0.14

[200 rows x 3 columns]

In [12]:
# дальше получим колонки для формулы plook
# добавим ранк 
top_K['rank'] = top_K.groupby('qid').cumcount()
top_K

        qid  hostid  rating  rank
647  380923       6    0.14     0
654  380923     179    0.14     1
662  380923     386    0.14     2
666  380923     484    0.14     3
665  380923     462    0.07     4
..      ...     ...     ...   ...
12    10387     335    0.14     5
20    10387     696    0.14     6
21    10387     740    0.14     7
24    10387     846    0.14     8
25    10387     871    0.14     9

[200 rows x 4 columns]

In [13]:
# (1 - pBreak) -> (1-0.15)
top_K['1 - p_break'] = 1 - 0.15

In [14]:
# (1 - Rel) -> (1-rels[ind-1])
top_K['1 - rating'] = (1 - top_K['rating']).shift(periods=1, fill_value=0)

In [15]:
# но для нулевого rank нужно добавить 1
top_K.loc[top_K['rank'] == 0, ['1 - p_break', '1 - rating']] = 1

In [16]:
top_K.head()

        qid  hostid  rating  rank  1 - p_break  1 - rating
647  380923       6    0.14     0         1.00        1.00
654  380923     179    0.14     1         0.85        0.86
662  380923     386    0.14     2         0.85        0.86
666  380923     484    0.14     3         0.85        0.86
665  380923     462    0.07     4         0.85        0.86

In [17]:
top_K['prod'] = top_K['1 - p_break'] * top_K['1 - rating']

In [18]:
top_K['plook'] = top_K.groupby('qid')['prod'].cumprod()
top_K['pfound'] = top_K['plook'] * top_K['rating']

top_K.head()

,qid,hostid,rating,rank,1 - p_break,1 - rating,prod,plook,pfound
647,380923,6,0.14,0,1.00,1.00,1.000,1.000000,0.140000
654,380923,179,0.14,1,0.85,0.86,0.731,0.731000,0.102340
662,380923,386,0.14,2,0.85,0.86,0.731,0.534361,0.074811
666,380923,484,0.14,3,0.85,0.86,0.731,0.390618,0.054687
665,380923,462,0.07,4,0.85,0.86,0.731,0.285542,0.019988

In [19]:
pfound_q = top_K.groupby('qid')['pfound'].sum()
pfound_q.mean()

0.4603173929969002

In [20]:
def pfound_q_mean(df, K=10, pBreak=0.15):
    max_rel_rating = df.groupby(['qid', 'hostid'])['rating'].max().reset_index()
    top_K = max_rel_rating.sort_values(['qid', 'rating'], ascending=False).groupby(['qid']).head(K)
    top_K['rank'] = top_K.groupby('qid').cumcount()
    top_K['1 - p_break'] = 1 - pBreak
    top_K['1 - rating'] = (1 - top_K['rating']).shift(periods=1, fill_value=0)
    top_K.loc[top_K['rank'] == 0, ['1 - p_break', '1 - rating']] = 1
    top_K['prod'] = top_K['1 - p_break'] * top_K['1 - rating']
    top_K['plook'] = top_K.groupby('qid')['prod'].cumprod()
    top_K['pfound'] = top_K['plook'] * top_K['rating']
    return top_K.groupby('qid')['pfound'].sum().mean()

In [21]:
pfound_q_mean(qid_url_rating_hostid)

0.4603173929969002

In [ ]:
# Измерение скорости работы

In [ ]:
 # яндекс

In [23]:
%time
qid_pfound = qid_url_rating_hostid.groupby('qid').apply(pfound)
qid_pfound.mean()

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 9.06 µs

0.4603173929969002

In [ ]:
# pandas функция

In [24]:
%time
pfound_q_mean(qid_url_rating_hostid)

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.72 µs

0.4603173929969002